        * {
            margin: 0;
            padding: 0;
        }
        
        body {
            margin: 0;
            font-family: 'Merriweather', serif;
        }
        
        .container {
            width: 100%;
            margin: auto;
            text-align: center;
            position: relative;
        }
        
        .bc-image {
            background-image: url(../img/200.jpg);
        }
        
        header ul li {
            list-style-type: none;
            display: inline-block;
        }
        
        .topnav {
            overflow: hidden;
            background-color: #000000;
            margin-bottom: 20px;
            display: flex;
            justify-content: flex-end;
        }
        
        .topnav a {
            float: left;
            color: #f2f2f2;
            padding: 24px 26px;
            text-decoration: none;
            font-size: 17px;
        }
        
        .topnav a:hover {
            background-color: #7f4367;
            color: black;
        }
        
        .topnav a.active {
            background-color: #7f4367;
            color: white;
        }
        
        h1 {
            font-family: 'Ibarra Real Nova', serif;
            size: 4rem;
            color: white;
            margin-bottom: 20px;
        }
        
        h2 {
            font-family: 'Ibarra Real Nova', serif;
            size: 2rem;
            color: white;
            margin-bottom: 20px;
            text-align: center;
            margin-top: -75px;
        }
        
        h3 {
            color: white;
            margin-top: 5px;
        }
        
        .text1 {
            padding: 5px;
        }
        
        .fas {
            color: white;
            margin-bottom: 20px;
            margin-top: 20px;
        }
        
        img {
            border-radius: 4px;
            padding: 30px;
            width: 400px;
        }
        
        img[alt~="Familly"] {
            width: 850px;
            border: 1px solid #ddd;
            padding: 70px;
        }
        
        img[alt~="Brugge"] {
            width: 600px;
            border: 1px solid #ddd;
            margin-bottom: 20px;
        }
        
        img[alt~="Lus&Cris"],
        img[alt~="Crisa"],
        img[alt~="Scotty"] {
            width: 400px;
            border: 1px solid #ddd;
        }
        
        img[alt~="logo"] {
            width: 100px;
        }
        
        img:hover {
            box-shadow: 0 0 8px 8px rgba(170, 0, 186, 0.5);
        }
        
        .flex {
            width: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            size: 400px;
        }
        
        .flex2 {
            width: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            size: 400px;
            margin-top: -33px;
        }
        
        header,
        footer {
            text-align: center;
            font-family: 'Merriweather';
        }
        
        footer {
            color: white;
            background-color: black;
            text-align: center;
            padding: 14px 16px;
        }
        
        .responsive {
            max-width: 75%;
        }
        
        @-webkit-keyframes heartbeat {
            from {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: center center;
                transform-origin: center center;
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }
            10% {
                -webkit-transform: scale(0.91);
                transform: scale(0.91);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }
            17% {
                -webkit-transform: scale(0.98);
                transform: scale(0.98);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }
            33% {
                -webkit-transform: scale(0.87);
                transform: scale(0.87);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }
            45% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }
        }
        
        .fas {
            -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
            animation: heartbeat 1.5s ease-in-out infinite both;
        }
        
        @keyframes heartbeat {
            from {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: center center;
                transform-origin: center center;
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }
            10% {
                -webkit-transform: scale(0.91);
                transform: scale(0.91);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }
            17% {
                -webkit-transform: scale(0.98);
                transform: scale(0.98);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }
            33% {
                -webkit-transform: scale(0.87);
                transform: scale(0.87);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
            }
            45% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
            }
        }